<html ng-app="multiSliderDemo">
<head>
  <meta charset="UTF-8">
  <title>Multi Slider</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../multislider.css">
</head>
<body>
<div ng-controller="DemoCtrl" class="container">
  <h1>Angular Multiple Slider Directive</h1>
  <p>Pure Angular slider control with no JQuery Dependencies. This demo utilizes
    <a href="https://angular-ui.github.io/bootstrap/">UI Bootstrap</a> version 0.14.3 which also requires ngAnimate.
    These are not required for the angular-multi-slider, just for this demo.</p>
  Developer Page - <a href="http://keithfimreite.com/angular-multi-slider-directive.aspx" target="_blank">Demo Site</a>
  <article>
    <h2>Single Slider - Hover / Grab Bubble</h2>
    <fieldset class="row">
      <section class="col-sm-4">
        <pre>
          {{ slider | json}}
        </pre>
      </section>
      <section class="col-sm-6 padding-10">
        <div multi-slider
             floor="0"
             ceiling="500"
             step="10"
             precision="2"
             bubbles="false"
             ng-model="slider"></div>
      </section>
    </fieldset>
  </article>
  <hr/>
  <article>
    <h2>Multiple Sliders with defined Colors in a Form - Persistent Bubbles</h2>
    <form name="sliderForm" id="sliderForm" novalidate autocomplete="off">
      <fieldset class="row">
        <section class="col-sm-4">
        <pre>
          {{ sliders | json}}
        </pre>
        </section>
        <section class="col-sm-6 padding-10">
          <multi-slider name="mySlider"
                        floor="0"
                        step="10"
                        precision="2"
                        ceiling="500"
                        bubbles="true"
                        ng-model="sliders"
                        style="margin-top:60px">
          </multi-slider>
          <multi-slider-key ng-model="sliders"></multi-slider-key>
        </section>
        <section class="col-sm-2">
          <p>
            Form Dirty: {{ sliderForm.$dirty }}
            <br/>
            Form Pristine: {{ sliderForm.$pristine }}
            <br/>
            Slider Dirty: {{ sliderForm.mySlider.$dirty }}
            <br/>
            Slider Pristine: {{ sliderForm.mySlider.$pristine }}
        </section>
      </fieldset>
    </form>
  </article>
  <hr/>
  <article>
    <h2>Multi-Slider in multiple UI Bootstrap Tabs</h2>
    <form name="tabSliderForm" id="tabSliderForm" novalidate autocomplete="off">
      <fieldset class="row">
        <uib-tabset>
          <uib-tab heading="Tab 1" active="activeTabs[0]">
            <div class="panel panel-default">
              <div class="panel-body">Tab 1 Content for angular multiple sliders<br/><br/>
                <multi-slider name="tabSlider1"
                              floor="0"
                              step="1"
                              precision="2"
                              ceiling="365"
                              bubbles="true"
                              ng-model="tabSliders"
                              ng-if="activeTabs[0]"
                              style="margin-top:80px">
                </multi-slider>
              </div>
            </div>
          </uib-tab>
          <uib-tab heading="Tab 2" active="activeTabs[1]">
            <div class="panel panel-default">
              <div class="panel-body">Tab 2 Content for angular multiple sliders<br/><br/>
                <section class="col-sm-6 padding-10">
                  <multi-slider name="tabSlider2"
                                floor="0"
                                step="1"
                                precision="2"
                                ceiling="365"
                                bubbles="true"
                                ng-model="tabSliders"
                                ng-if="activeTabs[1]"
                                style="margin-top:80px">
                  </multi-slider>
                  <multi-slider-key ng-model="tabSliders"></multi-slider-key>
                </section>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </fieldset>
    </form>
  </article>
  <hr/>
  <article>
    <h2>Sliders in a UI Bootstrap modal</h2>
    <button type="button" ng-click="openModal()" class="btn btn-default btn-lg">Open Modal!</button>
  </article>
  <article>
    <h2>Adjusting Floor / Ceiling end points of Slider after rendered</h2>
    <form name="ceilingForm" id="ceilingForm" novalidate autocomplete="off">
      <fieldset class="row">

        <section class="col-sm-4">
        <pre>
          {{ sliders | json}}
        </pre>
        </section>
        <section class="col-sm-6 padding-10">
          <multi-slider name="ceilingSlider"
                        floor="{{floor}}"
                        step="1"
                        precision="2"
                        ceiling="{{ceiling}}"
                        bubbles="true"
                        ng-model="tabSliders"
                        style="margin-top:120px">
          </multi-slider>
          <multi-slider-key ng-model="ceilingSliders"></multi-slider-key>
          <section class="col-sm-12">
            <label class="btn btn-primary" ng-model="floor" uib-btn-radio="0">floor 0</label>
            <label class="btn btn-primary" ng-model="floor" uib-btn-radio="50">floor 50</label>
            <label class="btn btn-primary" ng-model="ceiling" uib-btn-radio="100">Ceiling 100</label>
            <label class="btn btn-primary" ng-model="ceiling" uib-btn-radio="365">Ceiling 365</label>
          </section>
        </section>
      </fieldset>
    </form>
  </article>

</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="../multislider.js"></script>
<script src="app.js"></script>
</body>
</html>
